.gitignore
node_modules/
.env
trading_data.db
*.mp3
*.wav
*.mp4
memory/
video_assets/
voiceover_output/
google_tts_output/
first_batch_output/
pipeline_test_output/
quick_logos/
youtube_channels/
video_content/
content_batch_sample/
pipeline_test_local/
test_audio.mp3
test_piper_success.wav
